<!DOCTYPE html>
<html>
<head>
  <title>Rahil Ansari</title>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="main_navigation" class="clearfix">
	<%= link_to "Rahil Ansari", root_path, class:"name" %> 
		<nav>
			<%= link_to "Articles", posts_path %>
			<a href="projects.html">Projects</a>
			<a href="contact.html">Contact</a>
		</nav>
</header><!-- /header -->

<%= yield %>


<footer id="main_footer">
<p class="copyright">&copy;2016 Rahil Ansari</p>
<nav>
	<a href="http://instagram.com/rahilansari261" target="_blank"><i class="fa fa-instagram"></i></a>
	<a href="http://medium.com/@rahilansari261" target="_blank"><i class="fa fa-medium"></i></a>
	<a href="http://github.com/ansarirahilJP" target="_blank"><i class="fa fa-github"></i></a>
	
</nav>
</footer>

</body>
</html>
